@media screen and (min-width: 1024px) {

  body {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  
  #main-container {
    flex-direction: row;
    align-items: stretch;
  }

  #buttons {
    justify-content: flex-start;
  }

  #message-input {
    width: 42.5rem;
  }

  #top-container {
    flex: 1;
    margin-left: 12.5rem;
    display: flex;
    flex-direction: column;
  }

  #bottom-container {
    width: 25rem;
    margin: auto 0;
  }

  #no-message-container {
    margin: 0;
    justify-content: center;
    height: 75vh;
  }

  #no-message-container img {
    display: flex;
  }

  #result-message-container {
    flex-direction: column;
    margin: auto 0;
    height: 75vh;
  }

  #result-message-input{
    flex: 1;
  }
}
