@media screen and (min-width: 1024px) {
  

  #main-container {
    padding: 2.5rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: stretch;
  }

  #buttons {
    justify-content: flex-start;
  }

  #message-input {
    width: 42.5rem;
  }

  #top-container {
    flex: 1;
    margin-left: 12.5rem;
    display: flex;
    flex-direction: column;
  }

  #bottom-container {
    width: 25rem;
  }

  #no-message-container {
    margin: 0;
    justify-content: stretch;
    align-items: center;
    
  }

  #no-message-container img {
    display: block;
  }
}
